server:
  port: 8081

spring:
  datasource:
    name: service_outsource_test  #数据库名
    url: jdbc:mysql://39.100.100.198:3306/service_teaching?useSSL=false&useUnicode=true&characterEncoding=UTF-8&allowMultiQueries=true&serverTimezone=Asia/Shanghai
    username: root
    password: ASElab905
    driver-class-name: com.mysql.cj.jdbc.Driver
    druid:
      initial-size: 1
      max-active: 30
      min-idle: 3
      max-wait: 60000
      pool-prepared-statements: true
      max-pool-prepared-statement-per-connection-size: 30


mybatis-plus:
#  configuration:
#    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  typeAliasesPackage: com.example.backend.dao
  global-config:
    db-config:
      id-type: auto

logging:
  level:
    com.wei.test: debug
